* {
  box-sizing: border-box;
}

html, body, #root, .app {
    height: 100%;
}

body {
  background-color: #9b0048;
  color: #ecc;
  font-family: 'Lato', sans-serif;
  font-size: 1.4rem;
}

.home-container {
    display: flex;
    height: 100%;
}

.shader-canvas {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.home-splash-panel {
  background-color: #fff;
  width: 100%;
  height: 100%;
}

@media (max-width: 600px) {
    html, body, #root, .app, .home-container, .shader-canvas, .home-splash-panel {
        height: auto;
    }
}

em {
  font-weight: 700;
  font-size: 1.2em;
  color: #fff;
}

p {
  margin-bottom: 1.8em;
  line-height: 1.4;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  list-style-type: circle;
  margin-left: 1.5rem;
}

ul.links {
  list-style-type: circle;
  margin-left: 0;
}

ul.links li {
  display: inline-block;
  margin-right: 2rem;
  position: relative;
}

ul.links li:not(:first-child):before {
  content: '|';
  position: absolute;
  left: -1.3rem;
  top: -0.3rem;
  font-size: 1.3em;
  color: #f66;
}

ul.links li a.icon {
  border: none;
  font-size: 1.1em;
}

.small {
  font-size: 0.9em;
}

a {
  font-size: 0.95em;
  color: inherit;
  text-decoration: none;
  padding-bottom: 0.2rem;
  border-bottom: 0.15rem solid #ecc;
}

a:hover {
  color: #fff;
  border-color: #fff;
}

.home-about-panel {
  background-color: #9b0048;
  min-width: 480px;
  width: 30%;
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.home-about-em {
  background-color: #fff157;
  color: #c22;
  padding: 0 4px;
}

.work-available, .work-unavailable {
  border-radius: 3px;
  font-size: 1.1em;
  padding: 2px 8px;
  margin: 0 2px;
  background-color: #0a0;
  color: #cfc;
}

.work-unavailable {
  background-color: #600;
  color: #c22;
}

@media (max-width: 600px) {
  .home-container {
    flex-direction: column;
    height: 100%;
  }

  .home-splash-panel {
    height: 400px;
  }

  .home-about-panel {
    padding: 2rem;
    font-size: 1.15rem;
    min-width: initial;
    width: 100%;
  }

  ul.links li a.icon {
    font-size: 0.9em;
  }
}

.test {
    width: 100px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
}
