* {
  box-sizing: border-box;
}

html,
body,
#root,
.app {
  height: 100%;
}

body {
  color: #ecc;
  font-family: "Lato", sans-serif;
  font-size: 1.4rem;
}

.home-container {
  display: flex;
  height: 100%;
}

.shader-canvas {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.home-splash-panel {
  background-color: #fff;
  width: 100%;
  height: 100%;
}

@media (max-width: 600px) {
  html,
  body,
  #root,
  .app,
  .home-container,
  .shader-canvas,
  .home-splash-panel {
    height: auto;
  }
}

em {
  font-weight: 700;
  font-size: 1.2em;
  color: #fff;
}

p {
  margin-bottom: 1.8em;
  line-height: 1.4;
}

p:last-child {
  margin-top: -0.5em;
  margin-bottom: 0;
}

ul {
  list-style-type: circle;
  margin-left: 1.5rem;
}

ul.links {
  list-style-type: circle;
  margin-left: 0;
  margin-top: 0.5em;
}

ul.links li {
  display: inline-block;
  margin-right: 2rem;
  position: relative;
}

ul.links li:not(:first-child):before {
  content: "|";
  position: absolute;
  left: -1.3rem;
  top: -0.3rem;
  font-size: 1.3em;
  color: #f66;
}

ul.links li a.icon {
  border: none;
  font-size: 1.1em;
}

.small {
  font-size: 0.9em;
}

a {
  font-size: 0.95em;
  color: inherit;
  text-decoration: none;
  padding-bottom: 0.2rem;
  border-bottom: 0.15rem solid #ecc;
}

a:hover {
  color: #fff;
  border-color: #fff;
}

a.no-underline {
  padding-bottom: 0;
  border-bottom: 0;
}

#side-panel {
  min-width: 640px;
  width: 30%;
  padding: 6rem 3rem;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-y: scroll;
}

@media (max-width: 600px) {
  #side-panel {
    overflow-y: auto;
  }
}

.work-panel {
  background-color: #00489b;
}

.home-about-panel {
  background-color: #9b0048;
  justify-content: center;
}

.home-about-em {
  background-color: #fff157;
  color: #c22;
  padding: 0 4px;
  line-height: 1.4;
}

.work-available,
.work-unavailable {
  border-radius: 3px;
  font-size: 1.1em;
  padding: 2px 8px;
  margin: 0 2px;
  background-color: #0a0;
  color: #fff;
  display: inline-block;
}

.work-unavailable {
  background-color: #600;
  color: #fff;
}

@media (max-width: 600px) {
  .home-container {
    flex-direction: column;
    height: 100%;
  }

  .home-splash-panel {
    height: auto;
  }

  #side-panel {
    padding: 2rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    font-size: 1.15rem;
    min-width: initial;
    width: 100%;
  }

  ul.links li a.icon {
    font-size: 0.9em;
  }
}

.page {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 2em;
}

/* Work panel */

.work-em {
  display: inline-block;
  background-color: #fff157;
  color: #c22;
  padding: 0 4px;
  line-height: 1.4;
}

.work-panel-projects {
  padding: 0;
  margin: 0;
  padding-bottom: 3rem;
}

.work-panel-project {
  list-style: none;
  padding: 0;
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.work-panel-project div {
  flex-grow: 1;
}

.work-panel-project:nth-child(2n) {
  display: flex;
  flex-direction: row-reverse;
}

.work-panel-project img {
  min-width: 140px;
  min-height: 140px;
  width: 140px;
  height: 140px;
  background-color: #000;
  border-radius: 5%;
  margin-right: 0;
  margin-left: 1rem;
  border: 3px solid #fff;
}

.work-panel-project:nth-child(2n) img {
  margin-left: 0;
  margin-right: 1rem;
}

.work-panel-project div p {
  margin-top: 0.5rem;
  font-size: 1.2rem;
}

.work-panel-project div.small {
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

.project-link {
  margin-left: 0.5em;
  font-size: 0.9rem;
  border-bottom: 0;
}

.home-about-work-link {
  position: absolute;
  top: 3em;
  right: 1.5em;
}

@media (max-width: 600px) {
  .home-about-work-link {
    top: 2em;
    right: 1.5em;
  }
}

.work-footer {
  text-align: center;
  margin-bottom: 6rem;
  padding-bottom: 6rem;
}
